/*! _form.scss | Moebius | CSS Ninja 2020-2021 */

/*
    1. Inputs
    2. Control
    3. Ninja Toggle
*/

/* ==========================================================================
1. Inputs
========================================================================== */

.input,
.textarea {
  color: $medium-text;
  transition: all 0.3s;
  box-shadow: none;

  &::input-placeholder {
    color: $placeholder;
  }

  &::placeholder {
    color: $placeholder;
  }

  &::input-placeholder {
    color: $placeholder;
  }

  &:placeholder {
    color: $placeholder;
  }

  &:focus {
    box-shadow: $light-box-shadow;
    border-color: darken($fade-grey, 2%);
  }
}

/* ==========================================================================
2. Control
========================================================================== */

.control {
  &.has-icon {
    position: relative;

    .input {
      padding-left: 40px;

      &:focus {
        border-color: darken($fade-grey, 2%);

        + .form-icon {
          svg {
            stroke: $primary;
          }
        }
      }
    }

    .form-icon {
      position: absolute;
      top: 0;
      left: 0;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        height: 18px;
        width: 18px;
        stroke: $placeholder;
        transition: all 0.3s;
      }
    }
  }
}

/* ==========================================================================
3. Ninja Toggle
========================================================================== */

.ninja-toggle {
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;

    &:checked {
      + label {
        span {
          &.track {
            .track-knob {
              margin-left: 22px;
              transform: rotate(360deg);
              background: $primary;
              border-color: $primary;
              box-shadow: $primary-box-shadow;

              i {
                opacity: 1;
              }

              svg {
                &.sun {
                  display: none;
                  stroke-width: $dark-text;
                }

                &.moon {
                  display: block;
                  stroke: $white-light;
                }
              }
            }
          }
        }
      }
    }
  }

  label {
    display: block;
    cursor: pointer;

    span {
      display: block;

      &.track {
        position: relative;

        .track-inner {
          height: 11px;
          width: 42px;
          background: $placeholder;
          border-radius: 100px;
        }

        .track-knob {
          position: absolute;
          top: -8px;
          left: -2px;
          height: 26px;
          width: 26px;
          border-radius: 50%;
          border: 1px solid darken($fade-grey, 3%);
          box-shadow: $light-box-shadow;
          background: $white;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: rotate(0);
          transition: all 0.3s;

          i {
            color: $white;
            opacity: 0;
            transition: all 0.3s;
          }

          svg {
            height: 14px;
            width: 14px;
            stroke-width: 1.6px;
            stroke: $dark-text;

            &.sun {
              display: block;
            }

            &.moon {
              display: none;
            }
          }
        }
      }
    }
  }
}
