/*! _switch.scss | Moebius | CSS Ninja 2020-2021 */

/*
    1. Form Switch
    2. Form Switch Dark mode
*/

/* ==========================================================================
1. Form Switch
========================================================================== */

.form-switch {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &.is-primary {
    input {
      &:checked + i {
        background-color: $primary;
      }
    }
  }

  &.is-success {
    input {
      &:checked + i {
        background-color: $success;
      }
    }
  }

  &.is-info {
    input {
      &:checked + i {
        background-color: $info;
      }
    }
  }

  &.is-warning {
    input {
      &:checked + i {
        background-color: $warning;
      }
    }
  }

  &.is-danger {
    input {
      &:checked + i {
        background-color: $danger;
      }
    }
  }

  i {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 42px;
      height: 22px;
      background-color: $white;
      border-radius: 11px;
      transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
      transition: all 0.25s linear;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 22px;
      height: 22px;
      background-color: $white;
      border-radius: 11px;
      box-shadow: 0 2px 2px rgb(0 0 0 / 24%);
      transform: translate3d(2px, 2px, 0);
      transition: all 0.2s ease-in-out;
    }
  }

  &:active {
    i::after {
      width: 28px;
      transform: translate3d(2px, 2px, 0);
    }

    input {
      &:checked + i::after {
        transform: translate3d(16px, 2px, 0);
      }
    }
  }

  input {
    position: absolute;
    opacity: 0;
    pointer-events: none;

    &:checked + i {
      background-color: $medium-text;

      &::before {
        transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
      }

      &::after {
        transform: translate3d(22px, 2px, 0);
      }
    }
  }

  small {
    color: $muted-grey;
    position: relative;
    top: -4px;
  }
}

.switch-block {
  padding: 10px 0;
  display: flex;
  align-items: center;

  .text {
    margin-left: 6px;

    span {
      display: block;
      position: relative;
      top: -2px;
      color: $medium-text;
    }
  }
}

/* ==========================================================================
2. Form Switch Dark mode
========================================================================== */

body {
  &.is-dark {
    .form-switch {
      &.is-primary {
        input {
          &:checked + i {
            background-color: $accent !important;

            &::after {
              background: $white !important;
            }
          }
        }
      }

      &.is-success {
        input {
          &:checked + i {
            background-color: $success !important;

            &::after {
              background: $white !important;
            }
          }
        }
      }

      &.is-info {
        input {
          &:checked + i {
            background-color: $info !important;

            &::after {
              background: $white !important;
            }
          }
        }
      }

      &.is-warning {
        input {
          &:checked + i {
            background-color: $warning !important;

            &::after {
              background: $white !important;
            }
          }
        }
      }

      &.is-danger {
        input {
          &:checked + i {
            background-color: $danger !important;

            &::after {
              background: $white !important;
            }
          }
        }
      }

      i {
        background: $dark-mode !important;

        &::before {
          background: $dark-mode !important;
        }

        &::after {
          background: lighten($dark-mode, 22%) !important;
        }
      }

      input {
        &:checked + i {
          &::after {
            background: lighten($dark-mode, 55%) !important;
          }
        }
      }
    }
  }
}
