/*! _body.scss | Moebius | CSS Ninja 2020-2021 */

/*
    1. Chat Body
    2. Typing Indicator
*/

/* ==========================================================================
1. Chat Body
========================================================================== */

//Chat body
.chat-body {
  position: absolute;
  top: 0;
  left: 60px;
  height: 100%;
  width: calc(100% - 60px);
  background: lighten($fade-grey, 3%);
  transition: all 0.3s;

  //Opened state
  &.is-opened {
    width: calc(100% - 460px);

    .chat-action {
      width: calc(100% - 460px) !important;
    }
  }

  //Chat body inner
  .chat-body-inner {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 60px;
    padding: 20px 60px 60px;
    overflow-y: auto;
    animation-name: fadeInLeft;
    animation-duration: 0.5s;

    &.is-empty {
      display: flex;
      justify-content: center;
      align-items: center;

      .empty-placeholder {
        display: block;

        h2 {
          font-family: Montserrat;
          font-size: 1.4rem;
          margin-bottom: 0;
        }

        p {
          color: $medium-text;
        }

        img {
          display: block;
          width: 100%;
          max-width: 280px;
          margin: 0 auto;
        }

        svg {
          max-width: 180px;
          max-height: 180px;
          margin: 0 auto 20px;

          .main-color {
            fill: $secondary;
          }
        }
      }
    }

    &.is-multiple {
      .chat-message {
        &.is-sent,
        &.is-received {
          //show avatar on multiple participants

          + .is-sent,
          + .is-received {
            img {
              visibility: visible;
            }
          }
        }
      }
    }

    .empty-placeholder {
      display: none;
    }

    //Divider
    .date-divider {
      position: relative;
      margin-bottom: 40px;
      margin-top: 20px;

      hr {
        margin: 10px 0;
        background: #ccc;
        opacity: 0.6;
        height: 0;
      }

      .date-divider-text {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 5px 10px;
        background-color: lighten($fade-grey, 3%);
        color: #ccc;
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        transform: translate(-50%, -50%);
      }
    }

    //Chat message shared styles
    .chat-message {
      display: flex;
      align-items: flex-start;
      margin-bottom: 30px;

      &.is-placeloader {
        .img {
          height: 36px;
          width: 36px;

          //border-radius: 50%;
          border-radius: 10px;
        }

        .message-block {
          width: 100%;
          max-width: 300px;
          margin-left: 20px;

          .content-shape {
            &:first-child {
              max-width: 80%;
            }

            &:nth-child(2) {
              max-width: 60%;
            }

            &:nth-child(3) {
              max-width: 40%;
            }
          }
        }
      }

      &.has-reactions {
        &.is-sent {
          .message-block {
            .reaction-counts {
              .reaction-count {
                span {
                  &:nth-child(2) {
                    color: $dark-text;
                  }
                }
              }
            }
          }
        }

        &.is-received {
          .message-block {
            .reaction-counts {
              .reaction-count {
                span {
                  &:nth-child(2) {
                    color: $medium-text;
                  }
                }
              }
            }
          }
        }

        .message-block {
          .message-text {
            position: relative;
            padding-bottom: 24px;
          }

          .reaction-counts {
            position: absolute;
            bottom: 5px;
            right: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;

            .reaction-count {
              display: flex;
              align-items: center;
              margin-left: 4px;

              span {
                display: block;
                font-size: 0.8rem;

                &:first-child {
                  position: relative;
                  top: -1px;
                }

                &:nth-child(2) {
                  font-size: 0.75rem;
                  line-height: 1;
                }
              }
            }
          }
        }
      }

      //Avatar
      img {
        position: relative;
        top: 8px;
        display: block;
        height: 36px;
        width: 36px;
        border-radius: 10px;
      }

      //Message
      .message-block {
        position: relative;

        &:hover {
          .reactions-toolbar {
            .reaction {
              transform: translateY(0);
              opacity: 1;
              pointer-events: all;
            }
          }
        }

        .reactions-toolbar {
          position: absolute;
          top: -4px;
          display: flex;
          align-items: center;
          height: 30px;

          //width: 122px;
          border-radius: 100px;
          transition: all 0.3s;

          .reaction {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 26px;
            width: 26px;
            background: $white;
            padding: 0;
            border: 1px solid darken($fade-grey, 3%);
            border-radius: 100px;
            margin: 0 1px;
            transform: translateY(5px);
            opacity: 0;
            pointer-events: none;
            box-shadow: $light-box-shadow;
            transition: all 0.1s;

            &:first-child {
              transition-delay: 0;
            }

            &:nth-child(2) {
              transition-delay: 0.1s;
            }

            &:nth-child(3) {
              transition-delay: 0.2s;
            }

            &:nth-child(4) {
              transition-delay: 0.3s;
            }

            &:nth-child(5) {
              transition-delay: 0.4s;
            }

            svg {
              height: 12px;
              width: 12px;
              stroke-width: 1.4px;
            }

            span {
              position: relative;
              top: -1px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 13px;
            }
          }
        }

        span {
          display: block;
          width: 100%;
          font-size: 0.8rem;
          color: $muted-grey;
        }

        .message-text {
          position: relative;
          display: block;
          width: auto;
          max-width: 320px;
          padding: 10px;
          border-radius: 3px;
          font-size: 0.85rem;
          line-height: 1.4;

          &::before {
            position: absolute;
            display: block;
            content: '';
            top: 0;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
          }

          .uploaded-image {
            display: block;
            width: 100%;
            max-width: 100%;
            height: auto;
            border-radius: 0.5rem;
            margin: 0 0 1rem !important;
            object-fit: cover;
          }

          .uploaded-file {
            display: flex;
            align-items: center;
            margin: 0 0 1rem !important;
            background: $white;
            border: 1px solid darken($fade-grey, 3%);
            border-radius: 0.5rem;
            text-align: left;
            padding: 8px;

            .icon-container {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 38px;
              width: 38px;
              min-width: 38px;
              border-radius: 10px;
              border: 1px solid transparent;
              background: darken($widget-grey, 2%);
              transition: all 0.3s;

              svg {
                height: 18px;
                width: 18px;
                stroke-width: 1.6px;
              }
            }

            .meta {
              margin-left: 12px;

              span {
                display: block;
                font-family: $font-text;
                text-align: left;

                &:first-child {
                  font-family: $font;
                  font-size: 0.8rem;
                  font-weight: 500;
                  color: $blue-grey;
                }

                &:nth-child(2) {
                  font-size: 0.75rem;
                  color: $muted-grey;
                }
              }
            }

            .action {
              margin-left: auto;

              button {
                background: none;
                border: none;
                outline: none;
                height: 36px;
                width: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                svg {
                  height: 16px;
                  width: 16px;
                }
              }
            }
          }
        }
      }

      //Sent message
      &.is-sent {
        flex-direction: row-reverse;

        &.is-placeloader {
          .message-block {
            margin-left: 0;
            margin-right: 20px;

            .content-shape {
              &:first-child {
                margin-left: 20%;
              }

              &:nth-child(2) {
                margin-left: 40%;
              }

              &:nth-child(3) {
                margin-left: 60%;
              }
            }
          }
        }

        //Avatar
        img {
          margin-left: 20px;
        }

        //Message
        .message-block {
          .message-text {
            color: $medium-text;
            background-color: $white;

            &::before {
              right: -5px;
              border-top: 5px solid $white;
            }
          }

          .reactions-toolbar {
            right: 0;
            left: unset;
          }
        }

        //hide avatar on consecutive messages
        + .is-sent {
          margin-top: -16px !important;

          img {
            visibility: hidden;
          }
        }
      }

      //Received message
      &.is-received {
        //Avatar
        img {
          margin-right: 20px;
        }

        //Message
        .message-block {
          position: relative;

          span {
            text-align: right;
          }

          .message-text {
            //color: $white-light;
            color: $medium-text;
            background-color: darken($white-light, 6%);

            &::before {
              left: -5px;
              border-top: 5px solid darken($white-light, 6%);
            }
          }

          .reactions-toolbar {
            left: 10px;
          }
        }

        //Hide avatar on consecutive messages
        + .is-received {
          margin-top: -16px !important;

          img {
            visibility: hidden;
          }
        }
      }
    }
  }
}

//Chat action area

.chat-border {
  position: fixed;
  bottom: 0;
  left: 60px;
  width: calc(100% - 460px);
  height: 40px;
  padding: 0 40px;
  background: lighten($fade-grey, 3%);
  z-index: 0;
}

.chat-action {
  position: fixed;
  bottom: 8px;
  left: 60px;
  width: calc(100% - 60px);
  height: 44px;
  padding: 0 40px;
  background: lighten($fade-grey, 3%);
  z-index: 1;
  transition: all 0.3s;

  //Inner wrap
  .chat-action-inner {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

    //Input wrapper
    .control {
      position: relative;
      width: 100%;

      //Input
      .textarea {
        resize: none;
        height: 44px;
        max-height: 44px;
        min-height: 44px;
        padding: 5px 9px;
        padding-left: 54px;
        line-height: 2;
        box-shadow: none !important;
        transition: all 0.3s;

        &:focus {
          border-color: $fade-grey !important;
        }
      }

      //Dropdown
      .compose-dropdown {
        position: absolute;
        top: 0;
        left: 0;

        > div {
          position: relative;
          width: 100%;
          height: 100%;

          input {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            cursor: pointer;
            z-index: 1;

            &::-webkit-file-upload-button {
              cursor: pointer;
            }
          }
        }
      }

      //Add content button
      .add-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        width: 44px;
        background: transparent;
        margin: 0 !important;

        .button-inner {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 34px;
          min-height: 34px;
          width: 34px;
          max-width: 34px;
          border: 1px solid $accent;
          border-radius: 4px;
          background: $secondary;
          transition: all 0.3s;
          cursor: pointer;

          svg {
            height: 16px;
            width: 16px;
            stroke: $white;
          }
        }

        //Hover state
        &:hover .button-inner {
          box-shadow: $secondary-box-shadow;

          i {
            color: $white-light;
          }
        }

        i {
          font-size: 18px;
          color: $white-light;
          transition: inherit;
        }
      }

      .toolbar {
        position: absolute;
        top: 0;
        right: 0;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
          font-size: 0.8rem;
          margin: 0 4px;

          &.button-emoji {
            padding: 0;
            height: 44px;
            width: 24px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              svg {
                stroke: $secondary;
              }
            }

            svg {
              height: 18px;
              width: 18px;
              stroke: $placeholder;
              transition: stroke 0.3s;
            }
          }
        }
      }
    }
  }
}

/* ==========================================================================
2. Typing Indicator
========================================================================== */

.typing-indicator-wrap {
  position: absolute;
  bottom: 50px;
  left: 5px;
  display: flex;
  align-items: center;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  z-index: 0;

  &.is-active {
    transform: translateY(0);
    pointer-events: all;
    opacity: 1;
  }

  .typing-indicator {
    background-color: lighten($primary, 44%);
    padding: 5px 8px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    display: inline-block;
  }

  .typing-indicator-text {
    display: block;
    margin-left: 4px;
    font-size: 0.7rem;
    color: $muted-grey;
  }

  .typing {
    align-items: center;
    display: flex;
    height: 10px;
  }

  .typing .dot {
    animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
    background-color: lighten($primary, 14%); //rgba(20,105,69,.7);
    border-radius: 50%;
    height: 4px;
    margin-right: 2px;
    vertical-align: middle;
    width: 4px;
    display: inline-block;
  }

  .typing .dot:nth-child(1) {
    animation-delay: 200ms;
  }

  .typing .dot:nth-child(2) {
    animation-delay: 300ms;
  }

  .typing .dot:nth-child(3) {
    animation-delay: 400ms;
  }

  .typing .dot:last-child {
    margin-right: 0;
  }

  @keyframes mercuryTypingAnimation {
    0% {
      transform: translateY(0);
      background-color: lighten($primary, 34%); // rgba(20,105,69,.7);
    }

    28% {
      transform: translateY(-5px);
      background-color: lighten($primary, 18%); //rgba(20,105,69,.4);
    }

    44% {
      transform: translateY(0);
      background-color: lighten($primary, 5%); //rgba(20,105,69,.2);
    }
  }
}
