/*! _panel.scss | CSS Ninja 2020-2021 */

/* ==========================================================================
Chat Panel
========================================================================== */

//Chat right panel
.chat-panel {
  position: absolute;
  bottom: 0;
  right: 0;
  height: calc(100% - 60px);
  width: 400px;
  background: $white;
  border-left: 1px solid $fade-grey;
  transform: translateX(400px);
  transition: all 0.3s;

  //Opened state
  &.is-opened {
    transform: translateX(0);
  }

  //Panel inner
  .panel-inner {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;

    //Header
    .panel-header {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      width: 100%;
      background: $white;
      padding: 0 16px;

      h3 {
        font-size: 1.2rem;
        font-weight: 500;
      }

      .nav {
        position: relative;
        display: flex;
        width: 100%;
        max-width: 180px;

        .nav-link {
          width: 50%;
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 12px;
          text-align: center;
          font-family: $font;
          font-weight: 500;
          font-size: 0.85rem;
          color: $placeholder;
          border-bottom: 1px solid lighten($placeholder, 5%);
          cursor: pointer;

          &.active {
            color: $medium-text;

            &:first-child {
              ~ .nav-naver {
                margin-left: 0;
              }
            }

            &:nth-child(2) {
              ~ .nav-naver {
                margin-left: 50%;
              }
            }
          }
        }

        .nav-naver {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 50%;
          height: 2px;
          background: $secondary;
          margin-left: 0;
          transition: all 0.3s;
        }
      }

      //Close button
      .panel-close {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
          background: lighten($fade-grey, 3%);

          i {
            color: $medium-text;
          }
        }

        i {
          font-size: 16px;
          color: $muted-grey;
          transition: inherit;
        }
      }
    }

    //Body
    .panel-body {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 60px);
      animation: fadeInLeft 0.5s;

      //people
      &.is-people {
        .panel-body-inner {
          position: relative;
          height: 100%;
          width: 100%;
          overflow-x: hidden;
          overflow-y: auto;

          .participants-wrap,
          .placeloaders-wrap {
            position: relative;
            padding: 20px;

            .participants-block {
              margin-bottom: 20px;

              .block-title {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                h4 {
                  //font-family: $font;
                  font-size: 0.7rem;
                  font-weight: 500;
                  text-transform: uppercase;
                  color: $muted-grey;
                  margin-bottom: 0;
                }

                .line {
                  flex-grow: 2;
                  height: 1px;
                  border-bottom: 1px solid $fade-grey;
                  margin-left: 16px;
                }
              }

              .block-content {
                .participant-item {
                  display: flex;
                  align-items: center;
                  padding: 16px 0;
                  border-radius: 8px;
                  transition: all 0.3s;

                  &.is-owner {
                    padding: 12px;
                    background: $white;
                    border: 1px solid darken($fade-grey, 2%);
                    box-shadow: $light-box-shadow;
                  }

                  &.is-participant,
                  &.is-moderator {
                    padding: 12px;
                    border: 1px solid transparent;

                    &:hover {
                      background: $white;
                      border-color: darken($fade-grey, 2%);
                      box-shadow: $light-box-shadow;
                    }
                  }

                  &.is-loading {
                    .loader-wrap {
                      background: $white;
                      opacity: 1;
                      z-index: 2;

                      .loader {
                        height: 1.4rem;
                        width: 1.4rem;
                      }
                    }
                  }

                  .avatar-container {
                    position: relative;

                    //Status dot
                    .user-status {
                      position: absolute;
                      top: -3px;
                      right: -3px;
                      height: 10px;
                      width: 10px;
                      border-radius: 50%;
                      background: $muted-grey;
                      border: 1.8px solid $white;

                      &.is-online {
                        background: $success;
                      }

                      &.is-busy {
                        background: $orange;
                      }

                      &.is-away {
                        background: $placeholder;
                      }
                    }
                  }

                  img {
                    height: 32px;
                    width: 32px;
                    display: block;
                    object-fit: cover;
                    border-radius: 10px;
                    transition: all 0.3s;
                  }

                  .meta {
                    margin-left: 10px;

                    span {
                      display: block;
                      font-family: $font-text;

                      &:first-child {
                        font-family: $font;
                        font-size: 0.8rem;
                        font-weight: 500;
                        color: $blue-grey;
                      }

                      &:nth-child(2) {
                        font-size: 0.75rem;
                        color: $muted-grey;
                      }
                    }
                  }

                  .actions {
                    position: relative;
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    .action {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      padding: 0;
                      height: 28px;
                      width: 28px;
                      border: 1px solid darken($fade-grey, 2%);
                      border-radius: 50%;
                      background: $white;
                      margin: 0 2px;
                      outline: none !important;
                      cursor: pointer;
                      transition: all 0.3s;
                      position: relative;
                      color: transparent !important;

                      &.is-highlighted {
                        border-color: $warning;
                        box-shadow: $light-box-shadow;

                        svg {
                          stroke: $warning;
                        }
                      }

                      &:hover {
                        background: $secondary;
                        border-color: $secondary;
                        box-shadow: $secondary-box-shadow;

                        svg {
                          stroke: $white;
                        }
                      }

                      svg {
                        height: 12px;
                        width: 12px;
                        stroke: $blue-grey;
                        pointer-events: none;
                        transition: stroke 0.3s;
                      }
                    }
                  }
                }
              }
            }

            .placeloader-block {
              margin-bottom: 16px;
              padding-top: 10px;
              display: flex;

              .img {
                height: 32px;
                width: 32px;
                min-width: 32px;
                border-radius: 8px;
              }

              .meta {
                margin-left: 12px;
                width: 100%;

                .content-shape {
                  height: 8px;

                  &:first-child {
                    margin-top: 4px;
                    max-width: 60%;
                  }

                  &:nth-child(2) {
                    max-width: 40%;
                  }
                }
              }
            }
          }
        }
      }

      //Activity
      &.is-activity {
        .panel-body-inner {
          padding: 16px;
          animation-name: fadeInLeft;
          animation-duration: 0.5s;

          .block-title {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            h4 {
              //font-family: $font;
              font-size: 0.7rem;
              font-weight: 500;
              text-transform: uppercase;
              color: $muted-grey;
              margin-bottom: 0;
            }

            .line {
              flex-grow: 2;
              height: 1px;
              border-bottom: 1px solid $fade-grey;
              margin-left: 16px;
            }
          }

          .activity-items {
            padding-bottom: 12px;

            .activity-item {
              display: flex;
              background: $white;
              border-radius: 6px;
              padding: 12px;

              img {
                height: 32px;
                width: 32px;
                display: block;
                object-fit: cover;
                border-radius: 10px;
                transition: all 0.3s;
              }

              .meta {
                margin-left: 10px;

                p {
                  max-width: 260px;
                  font-family: Roboto, sans-serif;
                  font-size: 0.85rem;
                  color: $muted-grey;
                  margin-bottom: 0;

                  span {
                    font-weight: 500;
                    color: $blue-grey;
                  }
                }

                small {
                  font-size: 0.75rem;
                  color: $muted-grey;
                }
              }
            }
          }
        }
      }

      //User details
      &.is-user-details {
        .panel-body-inner {
          padding: 16px;
          animation-name: fadeInLeft;
          animation-duration: 0.5s;

          //Header
          .subheader {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .action-icon {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 40px;
              width: 40px;
              cursor: pointer;
              border-radius: 50%;
              transition: all 0.3s;

              i {
                font-size: 18px;
                color: $grey-text;
              }

              &:hover {
                background: lighten($fade-grey, 3%);
              }
            }
          }

          //User avatar
          .details-avatar {
            position: relative;
            height: 110px;
            width: 110px;
            margin: 20px auto 10px;

            img {
              display: block;
              border-radius: 50%;
            }

            .call-me {
              position: absolute;
              bottom: 0;
              right: -6px;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 42px;
              width: 42px;
              border-radius: 50%;
              border: 3px solid $white;
              background: $secondary;
              cursor: pointer;
              transition: all 0.3s;

              &:hover {
                background: lighten($secondary, 12%);
              }

              i {
                font-size: 16px;
                color: $white-light;
              }
            }
          }

          //User meta
          .user-meta {
            h3 {
              text-align: center;
              color: $dark-text;
              font-family: $font;
              font-weight: 500;
              font-size: 1.3rem;
              margin-bottom: 0;
              line-height: 1;
            }

            span {
              display: block;
              font-size: 0.9rem;
              color: $muted-grey;
            }
          }

          //User actions
          .user-actions {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0;

            .user-action {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 36px;
              width: 36px;
              border-radius: 50%;
              background: $white;
              border: 1px solid darken($fade-grey, 4%);
              margin: 0 3px;
              cursor: pointer;
              transition: all 0.3s;

              &:hover {
                background: $secondary;
                border-color: $secondary;
                box-shadow: $secondary-box-shadow;

                svg {
                  stroke: $white;
                }
              }

              svg {
                height: 16px;
                width: 16px;
                stroke: $medium-text;
                transition: stroke 0.3s;
              }
            }
          }

          //About cards
          .user-about {
            margin: 20px 0;
            display: flex;
            flex-wrap: wrap;

            //label
            label {
              display: block;
              text-transform: uppercase;
              font-size: 0.8rem;
              font-weight: 500;
              color: $grey-text;
              margin-bottom: 16px;
            }

            //Box
            .about-block {
              width: calc(50% - 16px);
              text-align: center;
              border: 1px solid $fade-grey;
              border-radius: 6px;
              padding: 12px;
              margin: 8px;
              transition: all 0.3s;

              &:hover {
                box-shadow: $light-box-shadow;
              }

              //Content
              .about-text {
                span {
                  display: block;

                  &:first-child {
                    font-size: 0.7rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: $muted-grey;
                  }

                  &:nth-child(2) {
                    font-size: 1.4rem;
                    font-family: $font-text;

                    a {
                      color: $medium-text;
                      font-weight: 700;
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
