/*! _sidebar.scss | Moebius | CSS Ninja 2020-2021 */

/*
    1. Chat Body
*/

/* ==========================================================================
1. Chat Sidebar
========================================================================== */

//Chat sidebar
.users-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  z-index: 10;
  background: $white;
  transition: all 0.3s;

  //Shared styles
  .header-item,
  .user-item,
  .footer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;

    img,
    svg {
      display: block;
      width: 100%;
      height: 100%;
    }

    svg {
      padding: 16px;
    }
  }

  //Header
  .header-item {
    img {
      height: 28px !important;
      width: 28px !important;
    }
  }

  //Avatar list
  .conversations-list {
    height: calc(100% - 120px);
    overflow-y: auto;
  }

  //List item
  .user-item {
    cursor: pointer;

    //Active state
    &.is-active {
      background: $fade-grey;

      .user-status,
      .conversation-count {
        border-color: $fade-grey !important;
      }
    }

    //Hover state
    &:hover {
      background: lighten($fade-grey, 3%);
    }

    //Avatar container
    .avatar-container {
      position: relative;
      height: 38px;
      width: 38px;
      border: 2px solid transparent;

      //Avatar
      .user-avatar {
        border-radius: 50%;
      }

      .conversation-count {
        position: absolute;
        bottom: -2px;
        right: -3px;
        height: 16px;
        width: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: $secondary;
        border: 1.2px solid $white;

        span {
          display: block;
          text-align: center;
          font-size: 0.45rem;
          font-weight: 600;
          color: $white;
        }
      }

      //Status dot
      .user-status {
        position: absolute;
        top: -3px;
        right: -1px;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background: $muted-grey;
        border: 2px solid $white;

        &.is-online {
          background: $green;
        }

        &.is-busy {
          background: $orange;
        }

        &.is-away {
          background: $red;
        }
      }
    }
  }

  //Sidebar footer
  .footer-item {
    position: absolute;
    bottom: 0;
    left: 0;

    //add conversation button
    .add-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 42px;
      min-height: 42px;
      width: 42px;
      min-width: 42px;
      margin: 0 auto;
      border: 1.8px dashed $placeholder;
      border-radius: 50%;
      background: $white;
      transition: all 0.3s;
      cursor: pointer;

      //Hover state
      &:hover {
        background: $secondary;
        border: 1.8px solid $secondary;
        box-shadow: $secondary-box-shadow;

        i {
          color: $white;
        }
      }

      i {
        font-size: 18px;
        color: $placeholder;
        transition: color 0.3s;
      }
    }
  }
}
