/*! _base.scss | Moebius | CSS Ninja 2020-2021 */

/*
    1. Base Styles
*/

/* ==========================================================================
1. Base Styles
========================================================================== */

img {
  width: 100%;
  height: 100%;
}

.iziToast-wrapper {
  .fas,
  .fab,
  .fal {
    font-size: 16px !important;
  }
}
